<% if !flash[:notice].blank? %>
  <div class="notice"
    <%= flash[:notice] %>
  </div>
<% end %>

<%= link_to("<< Back to Home", books_path, :class => 'back-link') %>

<div class="books show">
  <h2>Show Book</h2>

  <table summary="Book detail view">
    <tr>
      <th>Title</th>
      <td><%= @book.Title %></td>
    </tr>
    <tr>
      <th>Author</th>
      <td><%= @book.Author %></td>
    </tr>
    <tr>
      <th>Genre</th>
      <td><%= @book.Genre  %></td>
    </tr>
    <tr>
      <th>Price</th>
      <td><%= @book.Price  %></td>
    </tr>
    <tr>
      <th>Date Published</th>
      <td><%= @book.Publish  %></td>
    </tr>
    <tr>
      <th>Created</th>
      <td><%= @book.created_at %></td>
    </tr>
    <tr>
      <th>Updated</th>
      <td><%= @book.updated_at %></td>
    </tr>
  </table>

</div>
